{
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "./pure-plugin.js"
  ]
}